.footer{
    padding: 25px 0 40px 0;
    border-top: 1px solid $primaryColor;
    background-color: $primaryColor;
    .footer_wrapper{
        h3{
            font-size: 24px;
            font-weight: 600;
            color: $white;
           line-height: 36px;
           padding: 20px 0;
        }
        ul{
            li{
                padding: 5px 0;
                a{
                    font-size: 16px;
                    color: rgb(228, 225, 225);
                    i{
                        font-size: 20px;
                        padding-right: 10px;
                    }
                }
            }
        }
        p{
            color: #d8d8d8;
        }
        .paymentMethod{
            background-color: $white;
            padding: 10px 10px;
            border-radius: 3px;
            margin-bottom: 1px;
            width: 100px;
            img{
                width: 100%;
                height: 45px;
             }
        }
   
    }
}
.copy_right{
    background-color: $primaryColor;
    padding: 20px 0 10px 0;
    border-top: 1px solid $white;
    h4{
        font-size: 16px;
        font-weight: 400;
        color: $white;
        img{
            width: 80px; 
            padding:0 10px;
        }
    }
}